.paw {
  width: 30px;
  height: 30px;
  padding: 3px; /* Added padding */
}

body {
  background-color: #d6ccc2;
  margin-top: 60px; /* Adjust this value if needed */
}

nav {
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navtext {
  color: #463733;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  font-size: 18px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.navtitle {
  color: #463733;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  margin-top: 100px; /* Add distance from the nav bar */
  width: 70%; /* Increased width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  position: relative; /* Set relative position */
  overflow: hidden; /* Ensure content does not overflow */
}

.cat {
  width: 16%;
  height: auto;
  position: absolute;
  bottom: 0; /* Align to the bottom of the container */
  left: 9%;
  transform: translateX(-50%);
  transition: transform 0.3s ease; /* Smooth transition */
}

.cat:hover {
  transform: translateX(-50%) scale(1.1); /* Enlarge on hover */
}

.dog {
  width: 40%;
  height: auto;
  position: absolute;
  bottom: 0; /* Align to the bottom of the container */
  left: 91%;
  transform: translateX(-50%);
  transition: transform 0.3s ease; /* Smooth transition */
}

.dog:hover {
  transform: translateX(-50%) scale(1.1); /* Enlarge on hover */
}
label {
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

input[type="file"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #8a817c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7a716c;
}
