nav {
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure nav is above other elements */
}

.paw {
  width: 30px;
  height: 30px;
  padding: 3px; /* Added padding */
}

body {
  background-color: #d6ccc2;
  margin-top: 60px; /* Adjust this value if needed */
}

.navtext {
  color: #463733;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  font-size: 18px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.navtitle {
  color: #463733;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  top: 90px;
  /* margin-top: 100px; Add distance from the nav bar */
  width: 70%; /* Increased width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fdf6f3;
  position: relative; /* Set relative position */
  overflow: hidden; /* Ensure content does not overflow */
}

.cat {
  width: 18%;
  height: auto;
  position: absolute;
  bottom: 0; /* Align to the bottom of the container */
  left: 12%;
  transform: translateX(-50%);
  transition: transform 0.3s ease; /* Smooth transition */
}

.cat:hover {
  transform: translateX(-50%) scale(1.1); /* Enlarge on hover */
}

.dog {
  width: 44%;
  height: auto;
  position: absolute;
  bottom: 0; /* Align to the bottom of the container */
  left: 91%;
  transform: translateX(-50%);
  transition: transform 0.3s ease; /* Smooth transition */
}

.dog:hover {
  transform: translateX(-50%) scale(1.1); /* Enlarge on hover */
}

label {
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="file"] {
  margin-bottom: 30px;
  padding: 10px;
  width: 60%;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

input[type="text"] {
  margin-bottom: 30px;
  padding: 10px;
  width: 60%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #8a817c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #7a716c;
  transform: scale(1.1); /* Enlarge on hover */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

fieldset {
  background-color: white;
  margin: 40px;
}

.image-container {
  display: flex;
  align-items: center;
}

.click-me {
  margin-left: 10px;
}

legend {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.form-row {
  width: 41%;
  display: flex;
  align-items: center;
  gap: 0px;
  padding-top: 20px;
}

label {
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 10px;
}

select {
  font-size: 12px;
  margin-right: 20px;
  padding: 10px;
  width: 70%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.selecttext {
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #463733; /* Changed color */
  padding-bottom: 3px;
}

.inputtitle {
  margin-bottom: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #463733; /* Changed color */
  padding-bottom: 3px;
}
.navtitle2 {
  color: #463733;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-bottom: 20px;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap; /* Allows the text to wrap */
  word-wrap: break-word; /* Prevents long words from overflowing */
  color: #333;
}

h2 {
  margin-bottom: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #463733; /* Changed color */
  padding-bottom: 3px;
}
#notification {
  display: none;
  background-color: #ffffff; /* Green background */
  color: rgb(0, 0, 0); /* White text */
  padding: 15px;
  position: fixed;
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001; /* Ensure it is above other elements */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}

#notification.show {
  display: block;
}

.button-container {
  display: flex;
  gap: 20px;
}

.btntext {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #ffffff; /* Changed color */
  padding-bottom: 3px;
  text-decoration: none;
}

.viewbtntext {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #ffffff; /* Changed color */
  padding-bottom: 3px;
  text-decoration: none;
}
.description-box {
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.outputdesc {
  margin: 0;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
}
