<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
      import {
        getDatabase,
        ref,
        push,
      } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-database.js";

      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyBGC1w5CI59ZwR4ueKHUXJ792fqm4XAgGE",
        authDomain: "padawans-9bae0.firebaseapp.com",
        databaseURL:
          "https://padawans-9bae0-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "padawans-9bae0",
        storageBucket: "padawans-9bae0.appspot.com",
        messagingSenderId: "570564755420",
        appId: "1:570564755420:web:fd7f79aa11560a3fb79919",
        measurementId: "G-CR67JNKHGD",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const database = getDatabase(app);

      let selectedPet = null;

      document.querySelector(".cat").addEventListener("click", function () {
        document.querySelector(".dog").style.transition = "opacity 0.5s";
        document.querySelector(".dog").style.opacity = "0.5";
        document.querySelector(".cat").style.opacity = "1";
        selectedPet = "cat";
      });

      document.querySelector(".dog").addEventListener("click", function () {
        document.querySelector(".cat").style.transition = "opacity 0.5s";
        document.querySelector(".cat").style.opacity = "0.5";
        document.querySelector(".dog").style.opacity = "1";
        selectedPet = "dog";
      });

      document
        .getElementById("generateButton")
        .addEventListener("click", function () {
          confetti({
            particleCount: 100,
            spread: 70,
            origin: { y: 0.6 },
          });

          // Collect form data
          const formData = new FormData(
            document.getElementById("descriptionForm")
          );
          const data = {};
          formData.forEach((value, key) => {
            if (data[key]) {
              if (!Array.isArray(data[key])) {
                data[key] = [data[key]];
              }
              data[key].push(value);
            } else {
              data[key] = value;
            }
          });

          // Add selected pet to data
          data.selectedPet = selectedPet;

          // Save data to Firebase
          push(ref(database, "formData"), data);
        });
    </script>
  </head>
  <body>
    <nav>
      <ul class="nav-list">
        <li>
          <a class="navtitle">
            The Pawfect Match
            <img
              class="paw"
              src="{{ url_for('static', filename='images/paw.png') }}"
            />
          </a>
        </li>
        <li><a class="navtext" href="{{ url_for('home') }}">Home</a></li>
        <li>
          <a class="navtext" href="{{ url_for('customer') }}">Customer View</a>
        </li>
      </ul>
    </nav>
    <div class="form-container">
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='images/cat.png') }}"
          class="cat"
          alt="Cat Image"
        />
        <img
          src="{{ url_for('static', filename='images/dog.png') }}"
          class="dog"
          alt="Dog Image"
        />
      </div>
      <form id="descriptionForm">
        <label class="inputtitle" for="descriptionInput"
          >Add keywords or description:</label
        >
        <input
          type="text"
          id="descriptionInput"
          name="descriptionInput"
          placeholder="Add an initial description or keywords"
        />
        <label class="inputtitle" for="nameInput">Name (optional):</label>
        <input
          type="text"
          id="nameInput"
          name="nameInput"
          placeholder="Name (optional)"
        />
        <div class="form-row">
          <label class="selecttext" for="genderSelect">Gender:</label>
          <select id="genderSelect" name="genderSelect">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <label class="selecttext" for="ageSelect">Age:</label>
          <select id="ageSelect" name="ageSelect">
            <option value="baby">Baby</option>
            <option value="young">Young</option>
            <option value="teen">Teen</option>
            <option value="adult">Adult</option>
            <option value="elder">Elder</option>
          </select>
        </div>
        <fieldset>
          <legend>Characteristics:</legend>
          <div class="grid-container">
            <label
              ><input type="checkbox" name="characteristics" value="sweet" />
              Sweet</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="curious" />
              Curious</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="brave" />
              Brave</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="smart" />
              Smart</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="cuddly" />
              Cuddly</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="friendly" />
              Friendly</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="goofy" />
              Goofy</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="mellow" />
              Mellow</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="playful" />
              Playful</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="loyal" />
              Loyal</label
            >
            <label
              ><input
                type="checkbox"
                name="characteristics"
                value="independent"
              />
              Independent</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="gentle" />
              Gentle</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="funny" />
              Funny</label
            >
            <label
              ><input
                type="checkbox"
                name="characteristics"
                value="energetic"
              />
              Energetic</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="shy" />
              Shy</label
            >
          </div>
        </fieldset>
        <button type="button" id="generateButton">Generate Description</button>
      </form>
    </div>
  </body>
</html>
